.tags
*.[oaxd]
*.err
*.json
*.log
*.mod
*.swp
*.tmp
initial_cache.cmake
logPEXSI*
tags
/doc/html/
/doc/latex/
/bin/
/build/
/include/
/install/
/lib/
/build*/
external/SCOTCH/src/libscotch/tmp2.*
# Spack
/build-*
# macOS
.DS_Store
# LaTeX
doc/*.aux
doc/*.bbl
doc/*.blg
doc/*.out
doc/*.synctex.gz
doc/*.toc
